{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block principal %}
{%if lista %}
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<h1>Gestion de Adoptantes</h1>
<br>
 <table>

    <tr>
        <td>Nombre</td> <td>Apellido</td><td>Fecha Nacimiento</td><td>Region</td><td>Ciudad</td><td>Tipo Vivienda</td><td>Rol</td><td><img src="{% static 'images/basura.png' %}" height=15></td>

    </tr>
    {%for p in lista%}
    <tr>
            <td>{{p.nombre}}</td><td>{{p.apellido}}</td><td>{{p.fecha}}</td><td>{{p.region}}</td><td>{{p.ciudad}}</td><td>{{p.vivienda}}</td><td>{{p.rol}}</td><td><a href="{% url 'deleteuser' p.id %}">X</a></td>
    
        </tr>
        {%endfor%}
 </table>
{%else%}

<h2>No hay clientes</h2>

{%endif%}
{%endblock%}