{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block principal %}
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<h1>Gestion de Mascotas</h1>
<br>
{%if mascotas %}
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Foto</th>
        <th><img src="{% static 'images/editar.png' %}" height=15></th>
        <th><img src="{% static 'images/basura.png' %}" height=15></th>
    </tr>
    {% for m in mascotas.object_list %}
    <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.nombre }}</td>
        <td>{{ m.raza }}</td>
        <td>{{ m.descripcion }}</td>
        <td>{{ m.estado }}</td>
        <td><a href={{m.pic.url}}><img src={{m.pic.url}} height=150 ></a></td>
        <td><a href="{% url 'editpet' m.id %}"><img src="{% static 'images/editar.png' %}" height=15 ></a></td>
        <td><a href="{% url 'deletepet' m.id %}"><img src="{% static 'images/basura.png' %}" height=15 ></a></td>
    </tr>
    {% endfor %}
</table>

<nav id="paginator">
    <p>Visualizando pagina {{ mascotas.number }} de {{mascotas.paginator.num_pages }}</p>
    {% if mascotas.has_previous %} <a href="?page={{mascotas.previous_page_number }}">Anterior  </a>{%endif %}
    {% if mascotas.has_next %}<a href="?page={{ mascotas.next_page_number }}">Siguiente  </a>{% endif %}
</nav>
{% else %}
<p>No hay registros de mascotas</p>
{% endif %}
{% endblock %}